.root {
  &[data-variant="danger"] {
    background-color: var(--mantine-color-red-9);
    color: var(--mantine-color-red-0);
  }

  &[data-variant="primary"] {
    background: linear-gradient(173deg, rgba(223, 97, 255, 1) 0%, #6741d9 100%);
    color: var(--mantine-color-white);
  }

  &[data-variant="secondary"] {
    background: transparent;
    color: var(--mantine-color-white);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
      rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, rgba(0, 0, 0, 0.06) 0px 4px 8px 0px;
    border: 1px solid #ffffff73;
  }
}
